<!DOCTYPE html>
<html>
<head>
  <title>Dumbledore's Army</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href='/students'>Students</a>
        <hr/>
        <a href='/students/new'>Enroll</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
